@import url("https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, sans-serif;
}

.main {
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/background.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
    color: #fff;
    position: relative;
}

.layout {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    inset: 0;
}

h1.headline {
    text-align: center;
}

h1.headline img {
    width: 90%;
}

.subtitle {
    font-size: 26px;
    line-height: 115%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.footer {
    position: relative;
    width: 100%;
}

.partners,
.headline-wrapper {
    position: relative;
}

.partners {
    padding: 50px 0;
    width: 100%;
}

.partners .title {
    text-align: center;
    font-size: 26px;
    font-weight: 700;
}

.partners-wrapper {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.partner-item {
    width: 150px;
    height: 70px;
    background-color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partner-item img {
    width: 100%;
}

.contacts {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.contacts-item {
    font-size: 24px;
    line-height: 115%;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
    max-width: 320px;
}

.contacts-item .title {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px;
}

.contacts-item .title + p {
    font-weight: bold;
}

.contacts-item a {
    color: inherit;
    text-decoration: none;
}

.bottom {
    position: relative;
    font-family: "Jost", sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 34px;
}

@media screen and (min-width: 768px) {
    .contacts-item:nth-child(1) {
        margin-left: 17%;
    }
}

@media screen and (max-width: 1180px) {
    .subtitle {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    h1.headline img {
        width: 100%;
    }
    .subtitle {
        font-size: 13px;
        margin-top: 5%;
    }
    .contacts-item {
        font-size: 14px;
        width: max-content;
    }
    .contacts-item:nth-child(2) {
        text-align: end;
    }
    .bottom {
        font-size: 16px;
    }
    .partners {
        padding: 20px 0;
    }
    .partners-wrapper {
        margin-top: 15px;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }
    .contacts {
        justify-content: space-between;
    }
    .partner-item {
        width: 31%;
        padding: 10px;
    }
    .partners .title {
        font-size: 18px;
    }
}

@media screen and (max-width: 561px) {
    .partner-item {
        height: 50px;
    }
}
